body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container {
  height: 50vh;
  display: flex;
  flex-direction: auto;
  background-color: aliceblue;
  border-style: solid;
  border-radius: 50px;
  border-color: red;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  font-style: Bold;
}
.Logo {
  margin-top: 6px;
  padding-left: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.header h2 {
  margin-top: 8px;
  margin-left: 100px;
  padding-left: 5px;
  font-size: 35px;
  color: darkblue;
  text-shadow: 60px;
  font-weight: bold;
}

.id {
  margin: 50px;
  border-radius: 50px;
  text-align: center;
}

.pwd {
  margin: 50px;
  border-radius: 50px;
  text-align: center;
}

.btn {
  border-radius: 2px;
  font: bold;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background: blue;
  zoom: 85px;
  border-color: skyblue;
  transform: scale(1.05);
}

